In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import pandas as pd

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
app = dash.Dash(__name__)

df = pd.read_csv(r"C:\Users\Adaml\OneDrive - TU Eindhoven\University\Year 2\Q2\Visualizations\Git\VisGang\Bora_Lineplot\accident_2005-2011.csv")
df
ent_df = pd.read_csv(r"C:\Users\Adaml\Downloads\dft-road-casualty-statistics-casualty-1979-2020.csv")
ent_df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,197901A11AD14,1979,01A11AD14,2,1,1,1,-1,-1,3,0,0,0,0,-1,104,-1,-1
1,197901A1BAW34,1979,01A1BAW34,1,1,3,2,27,6,3,10,5,0,0,-1,0,-1,-1
2,197901A1BFD77,1979,01A1BFD77,1,1,1,1,21,5,3,0,0,0,0,-1,109,-1,-1
3,197901A1BFD77,1979,01A1BFD77,1,2,2,1,20,4,3,0,0,1,0,-1,109,-1,-1
4,197901A1BFD77,1979,01A1BFD77,2,3,1,1,35,6,3,0,0,0,0,-1,109,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11449307,2020991027064,2020,991027064,2,1,1,1,11,3,2,0,0,0,0,0,1,1,2
11449308,2020991029573,2020,991029573,1,1,3,2,63,9,3,10,1,0,0,0,0,1,10
11449309,2020991030297,2020,991030297,2,1,1,1,38,7,2,0,0,0,0,0,5,2,9
11449310,2020991030900,2020,991030900,2,1,1,1,76,11,3,0,0,0,0,0,1,1,9
11449311,2020991032575,2020,991032575,1,1,3,1,48,8,3,9,9,0,0,0,0,1,1

In [10]:
nes_df = ent_df.loc[(ent_df['accident_year'] >= 2005) & (ent_df['accident_year'] <= 2011)]
nes_df

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
8264687,200501BS00001,2005,01BS00001,1,1,3,1,37,7,2,1,1,0,0,2,0,1,-1
8264688,200501BS00002,2005,01BS00002,1,1,2,1,37,7,3,0,0,0,4,0,11,1,-1
8264689,200501BS00003,2005,01BS00003,2,1,1,1,62,9,3,0,0,0,0,0,9,1,-1
8264690,200501BS00004,2005,01BS00004,1,1,3,1,30,6,3,5,2,0,0,2,0,1,-1
8264691,200501BS00005,2005,01BS00005,1,1,1,1,49,8,3,0,0,0,0,0,3,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9907532,2011984146011,2011,984146011,1,1,1,1,56,9,3,0,0,0,0,0,21,-1,-1
9907533,2011984146411,2011,984146411,1,1,3,1,75,10,3,9,8,0,0,0,0,2,-1
9907534,2011984147811,2011,984147811,1,1,1,1,22,5,3,0,0,0,0,0,9,2,-1
9907535,2011984147811,2011,984147811,1,2,2,1,20,4,3,0,0,1,0,0,9,1,-1
9907536,2011984147811,2011,984147811,1,3,2,1,21,5,3,0,0,2,0,0,9,2,-1